Pods
.DS_Store
*/NabtoEdgeClient.xcworkspace/xcuserdata
*/xcuserdata/*
*/.DS_Store
NabtoEdgeClient/.idea/*
NabtoEdgeClient/NabtoEdgeClient.xcodeproj/xcuserdata/**/*
NabtoEdgeClientHello/NabtoEdgeClientHello.xcodeproj/project.xcworkspace/xcuserdata/**/*
.idea/*
NabtoEdgeClient/NabtoEdgeClient.xcodeproj/xcuserdata/*
