Pods
.DS_Store
*/NabtoEdgeClient.xcworkspace/xcuserdata
*/xcuserdata/*
*/.DS_Store
NabtoEdgeClient/.idea/*
NabtoEdgeClient/NabtoEdgeClient.xcodeproj/xcuserdata/**/*
NabtoEdgeClientHello/NabtoEdgeClientHello.xcodeproj/project.xcworkspace/xcuserdata/**/*
.idea/*
NabtoEdgeClient/NabtoEdgeClient.xcodeproj/xcuserdata/*
.build
.swiftpm/xcode/xcuserdata/
.swiftpm/configuration/
NabtoEdgeClientHello/Signing.xcconfig
NabtoEdgeClientHello/NabtoEdgeClientHello.xcodeproj/
NabtoEdgeClientHello/NabtoEdgeClientHello/Info.plist

test-devices/config/localPairLocalOpen/state/tcp_tunnel_device_iam_state.json
test-devices/config/localPairPasswordOpen/state/tcp_tunnel_device_iam_state.json
test-devices/config/localPasswordInvite/state/tcp_tunnel_device_iam_state.json
test-devices/config/localPasswordPairingDisabledConfig/state/tcp_tunnel_device_iam_state.json
